.wrapper2 {
    margin-left: 100px;
    margin-right: 100px;
}

.border {
    position: relative;
    background: none;
    height: 400px;
    width: 300px;
    border: 0px solid transparent;
    overflow: hidden;
}

.border:before {
    content: "";
    position: absolute;
    background-image: url("http://fillmurray.com/200/300");
    background-size: cover;
    height: 400px;
    width: 300px;
    z-index: -2;
}

.dog {
    position: relative;
    background: none;
    height: 400px;
    width: 300px;
    border: 0px solid transparent;
    overflow: hidden;
}

.dog:before {
    content: "";
    position: absolute;
    background: rgb(238, 237, 231);
    height: 400px;
    width: 300px;
    z-index: -2;
}



.frame {
    position: absolute;
    background: none;
    height: 395px;
    width: 300px;
    border: 20px solid rgb(117, 58, 72);
    border-radius: 60px 60px 60px 60px;
    margin: -20px 0 0 -20px;
    overflow: hidden;
    z-index: 2;
}





.container2 {
    display: flex;
    flex-flow: wrap;
    height: 1000px;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
}

.bigpic, .infor, .comments {
    flex: 1;
    height: 395px;
    margin: 10px;
    padding: 25px;

}

.frame1 {
    position: absolute;
    background: none;
    height: 395px;
    width: 300px;
    border: 20px solid #eeede7;
    border-radius: 60px 60px 60px 60px;
    margin: -20px 0 0 -20px;
    overflow: hidden;
    z-index: 2;

}

.formmm {
    z-index: 3;
    position: absolute;
    color: white;
}

.cat {
    color: black;
    margin-top: 270px;
    margin-left: 15px;
    border: 1px solid rgb(117, 58, 72);

}
