.header
  %img.grandma{:alt => "", :src => "assets/newwww.png"}
    .title Grandmacity
    .slogan "GETTING GRANDMA OFF THE FRONT PORCH"
/ Entire first page with the states
%a{:href => ""}
.wrapper1
  %meta{:charset => "UTF-8"}
    %title Grandmacity
    